<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>'Stable and working' examples=></h1>
        <h2>Examples on how to use the api in discor bots</h2>
        <br>
        <script src="https://gist.github.com/denzven/38a96d9d4ee86f728b868575e7883adc.js?file=api_usage_in_js.js"></script>
        <script src="https://gist.github.com/denzven/38a96d9d4ee86f728b868575e7883adc.js?file=api_usage_in_py.py"></script>

        <br>
        <br>

        <h2>find examples on usage of the api <a href='examples.html'>here</a></h2>


<br>
<br>
<br>
<h3> join the chilly server</h3>
<a href="https://dsc.gg/chilly_place"><img src="https://api.dsc.gg/v2/widget/chilly_place" /></a>
</body>
</html>
