<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!-- Primary Meta Tags -->
<title>Denzven-Graphing-Api</title>
<meta name="title" content="Denzven-Graphing-Api">
<meta name="description" content="An awesome,Free and open-source API for plotting graphs for any formula/equation with a wide variety of customizations and daily updates! made with love by Denzven">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://denzven.pythonanywhere.com/">
<meta property="og:title" content="Denzven-Graphing-Api">
<meta property="og:description" content="An awesome,Free and open-source API for plotting graphs for any formula/equation with a wide variety of customizations and daily updates! made with ove by Denzven">
<meta property="og:image" content="https://cdn.discordapp.com/attachments/775096810963468288/858610022581534760/tenor.gif">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://denzven.pythonanywhere.com/">
<meta property="twitter:title" content="Denzven-Graphing-Api">
<meta property="twitter:description" content="An awesome,Free and open-source API for plotting graphs for any formula/equation with a wide variety of customizations and daily updates! made with ove by Denzven">
<meta property="twitter:image" content="https://cdn.discordapp.com/attachments/775096810963468288/858610022581534760/tenor.gif">

</head>
<body>
<h1>Denz Graphing Api (wip)</h1>
        <h2>/graph?formula=x-y</h2>
        <h2>/graph?formula=x%2By</h2>
        <h2>/graph?formula=x**2-y</h2>
        <h2>/graph?formula=x**2%2By</h2>
        <h2>/graph?formula=y**2-x</h2>
        <h2>/graph?formula=y**2%2Bx</h2>
        <h2>/graph?formula=x**2%2By**2-10</h2>
        <h2>/graph?formula=sin(x)-y</h2>
        <h2>/graph?formula=cos(x)-y</h2>
        <h2>/graph?formula=tan(x)-y</h2>
        <h2>/graph?formula=x*y-1</h2>
        <h2>/graph?formula=x*y%2B1</h2>
        <h2>/graph?formula=√(x)-y</h2>
        <h2>/graph?formula=(x**2%2By**2-25)**3-x**2*y**3</h2>
        <h2>/graph?formula=x**2-x**4-y**2</h2>
        <h2>/graph?formula=x*sin(1/x)-y</h2>
        <br>
        <br>

        <h2>find examples on usage of the api <a href='/examples'>here</a></h2>


<br>
<br>
<br>
<h3> join the chilly server</h3>
<a href="https://dsc.gg/chilly_place"><img src="https://api.dsc.gg/v2/widget/chilly_place" /></a>
</body>
</html>
